<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Sistema Acadêmico</title>
	<h:outputStylesheet library="css" name="estilo.css" target="head"/>
	<h:outputScript library="js" name="jsfprime.js" target="head"/>
</h:head>
<h:body>
	<ul>
		<li><a href="alunos/cadastro.xhtml">Cadatro</a></li>
		<li><a href="alunos/consulta.xhtml">Consulta</a></li>
	</ul>
</h:body>
</html>